@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "sfui", sans-serif;
}
p,
li,
a {
	@apply text-desc;
}
h3 {
	@apply text-heading;
}

.gradient1 {
	background: linear-gradient(-225deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 100%);
}

.layout-sphere {
	background-image: url("../assets/layout-sphere.svg");
	@apply bg-cover bg-no-repeat bg-top;
}

.hero-bg {
	background-image: url("../assets/layout-bg-overlay-06.svg");
	@apply bg-no-repeat bg-top;
}
.partners-bg {
	background-image: url("../assets/layout-bg-overlay-04.png");
	@apply bg-no-repeat bg-top;
}
